<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>134611858072-s85i0ntm988d2mbvfr94i8f4rr1fdo6l.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.134611858072-s85i0ntm988d2mbvfr94i8f4rr1fdo6l</string>
	<key>API_KEY</key>
	<string>AIzaSyBarjpMjO-AyEB7HOGt1EuDETZgHRq0_eY</string>
	<key>GCM_SENDER_ID</key>
	<string>134611858072</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>ac.id.ugm.PJPB-Mobile-App</string>
	<key>PROJECT_ID</key>
	<string>pjpb-mobile-app</string>
	<key>STORAGE_BUCKET</key>
	<string>pjpb-mobile-app.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:134611858072:ios:4f1a0e8f2f1773a0</string>
	<key>DATABASE_URL</key>
	<string>https://pjpb-mobile-app.firebaseio.com</string>
</dict>
</plist>